{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Student Dashboard</h2>

<div class="list-group">

<a class="list-group-item list-group-item-action"
href="{{ url_for('student_profile') }}">
Edit Profile
</a>

<a class="list-group-item list-group-item-action"
href="{{ url_for('student_drives') }}">
View Placement Drives
</a>

<a class="list-group-item list-group-item-action"
href="{{ url_for('student_applications') }}">
My Applications
</a>

<a class="list-group-item list-group-item-action text-danger"
href="{{ url_for('logout') }}">
Logout
</a>

</div>

{% endblock %}