{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Available Placement Drives</h2>

<table class="table table-striped">

<thead class="table-dark">
<tr>
<th>Company</th>
<th>Position</th>
<th>Eligibility CGPA</th>
<th>Drive Date</th>
<th>Apply</th>
</tr>
</thead>

<tbody>

{% for drive in drives %}

<tr>
<td>{{ drive[1] }}</td>
<td>{{ drive[2] }}</td>
<td>{{ drive[3] }}</td>
<td>{{ drive[4] }}</td>

<td>
<a class="btn btn-success btn-sm"
href="{{ url_for('apply_drive', drive_id=drive[0]) }}">
Apply
</a>
</td>

</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}