{% extends "base.html" %}

{% block content %}

<h3 class="mb-4">Available Placement Drives</h3>

<div class="table-box">

<table class="table table-striped table-hover">

<thead>
<tr>
<th>Company</th>
<th>Role</th>
<th>Eligibility CGPA</th>
<th>Drive Date</th>
<th>Last Date</th>
<th>Action</th>
</tr>
</thead>

<tbody>

{% for drive in drives %}

<tr>

<td>{{ drive[1] }}</td>
<td>{{ drive[2] }}</td>
<td>{{ drive[3] }}</td>
<td>{{ drive[4] }}</td>
<td>{{ drive[5] }}</td>

<td>

<a href="{{ url_for('apply_drive', drive_id=drive[0]) }}"
class="btn btn-primary btn-sm">

Apply

</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}