{% extends "base.html" %}

{% block content %}

<h3 class="mb-4">Student Profile</h3>

<div class="card shadow-sm">
<div class="card-body">

<form method="POST" enctype="multipart/form-data">

<div class="row">

<div class="col-md-6 mb-3">
<label>Name</label>
<input type="text" name="name" value="{{ student[0] }}" class="form-control" required>
</div>

<div class="col-md-6 mb-3">
<label>Roll Number</label>
<input type="text" class="form-control" value="{{ student[1] }}" readonly>
</div>

<div class="col-md-6 mb-3">
<label>Branch</label>
<input type="text" class="form-control" value="{{ student[2] }}" readonly>
</div>

<div class="col-md-6 mb-3">
<label>CGPA</label>
<input type="text" class="form-control" value="{{ student[3] }}" readonly>
</div>

<div class="col-md-6 mb-3">
<label>Phone</label>
<input type="text" name="phone" value="{{ student[4] }}" class="form-control">
</div>

<div class="col-md-6 mb-3">
<label>LinkedIn</label>
<input type="text" name="linkedin" value="{{ student[5] }}" class="form-control">
</div>

<div class="col-md-6 mb-3">
<label>Portfolio</label>
<input type="text" name="portfolio" value="{{ student[6] }}" class="form-control">
</div>

<div class="col-md-6 mb-3">
<label>Skills</label>
<input type="text" name="skills" value="{{ student[7] }}" class="form-control">
</div>

<div class="col-md-12 mb-3">
<label>Upload Resume</label>
<input type="file" name="resume" class="form-control">
</div>

</div>

<button class="btn btn-primary">
Update Profile
</button>

</form>

</div>
</div>

{% endblock %}