{% extends "base.html" %}

{% block content %}

<h3 class="mb-4">Analytics Dashboard</h3>

<div class="row">

<div class="col-md-6">

<div class="card shadow-sm">

<div class="card-body">

<h5 class="mb-3">Applications Per Company</h5>

<canvas id="companyChart"></canvas>

</div>

</div>

</div>

<div class="col-md-6">

<div class="card shadow-sm">

<div class="card-body">

<h5 class="mb-3">Application Status Distribution</h5>

<canvas id="statusChart"></canvas>

</div>

</div>

</div>

</div>

<script>

const companyNames = {{ company_names | tojson }};
const applicationCounts = {{ application_counts | tojson }};

const ctx1 = document.getElementById('companyChart');

new Chart(ctx1, {

type: 'bar',

data: {

labels: companyNames,

datasets: [{

label: 'Applications',

data: applicationCounts

}]

}

});

const statuses = {{ statuses | tojson }};
const statusCounts = {{ status_counts | tojson }};

const ctx2 = document.getElementById('statusChart');

new Chart(ctx2, {

type: 'pie',

data: {

labels: statuses,

datasets: [{

data: statusCounts

}]

}

});

</script>

{% endblock %}