<h3 class="mt-4">Pending Companies</h3>

<table class="table table-bordered">

<tr class="table-dark">
<th>Company</th>
<th>Location</th>
<th>Actions</th>
</tr>

{% for company in companies %}

<tr>

<td>{{ company[1] }}</td>
<td>{{ company[2] }}</td>

<td>

<a class="btn btn-success btn-sm"
href="{{ url_for('approve_company', company_id=company[0]) }}">
Approve
</a>

<a class="btn btn-danger btn-sm"
href="{{ url_for('reject_company', company_id=company[0]) }}">
Reject
</a>

</td>

</tr>

{% endfor %}

</table>