{% extends "base.html" %}

{% block content %}

<h3 class="mb-4">Create Placement Drive</h3>

<div class="card shadow-sm">

<div class="card-body">

<form method="POST">

<div class="row">

<div class="col-md-6 mb-3">
<label>Drive Title</label>
<input type="text" name="title" class="form-control" required>
</div>

<div class="col-md-6 mb-3">
<label>Eligibility CGPA</label>
<input type="number" step="0.01" name="eligibility_cgpa" class="form-control" required>
</div>

<div class="col-md-6 mb-3">
<label>Drive Date</label>
<input type="date" name="drive_date" class="form-control" required>
</div>

<div class="col-md-6 mb-3">
<label>Last Date to Apply</label>
<input type="date" name="last_date_to_apply" class="form-control" required>
</div>

<div class="col-md-12 mb-3">
<label>Description</label>
<textarea name="description" class="form-control" rows="4"></textarea>
</div>

</div>

<button class="btn btn-primary">
Create Drive
</button>

</form>

</div>

</div>

{% endblock %}